.card {
  width: 10rem;
  padding: 15px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  transition: transform 0.2s;
  backdrop-filter: blur(10px);
  z-index: 1;
  background: rgba(255, 255, 255, 0.08);
  transition: all 180ms ease;

  h3, .temp {
    margin: 0;
  }
}

.card:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25), inset 0 0 0 1px rgba(255, 255, 255, 0.15);
}

.card img {
  margin: 10px 0;
}

.card h3,
.card p {
  color: #fff !important;
}

.expandable {
  p {
    margin: 0;
  }
}