.card {
  width: 10rem;
  padding: 15px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  transition: transform 0.2s;
  backdrop-filter: blur(10px);
  z-index: 1;

  h3, .temp {
    margin: 0;
  }
}

.card:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.card img {
  margin: 10px 0;
}

.card h3,
.card p {
  color: #fff !important;
}