.card {
  width: 10rem;
  padding: 15px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  height: 25rem;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  margin: 10px 0;
}

.card h3,
.card p {
  color: #fff !important;
}
