<div
    class="card"
    (click)="toggleExpand()"
>
    <h3>{{ city.weather.name }}</h3>
    @if(city.weather.icon) {
        <img
            [src]="'https://openweathermap.org/img/wn/' + city.weather.icon + '@2x.png'"
            alt="Weather icon"
        />
    }
    <p class="temp">{{ city.weather.temp }}°C</p>
    <p class="desc">{{ city.weather.description }}</p>

    @if (city.forecast && city.forecast.length > 0) {
        <div class="expandable">
            @for (item of city.forecast; track $index) {
                <p>
                    {{ item.weekDay }}
                    <mat-icon fontIcon="swap_horiz" aria-hidden="false"></mat-icon>
                    {{ item.weekDayTempLow }} / {{ item.weekDayTempHigh }}
                </p>
            }
        </div>
    }
</div>