.card {
  width: 10rem;
  padding: 15px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  transition: transform 0.2s;
  height: 25rem;
  backdrop-filter: blur();
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  margin: 10px 0;
}

.card h3,
.card p {
  color: #fff !important;
}
