<section class="lab">
  <div class="hero">
    <h3 [ngStyle]="{color: execStyle === 'sequential' ? 'green' : 'blue'}">
      Mode: {{ execStyle.toUpperCase() }}
      <mat-icon [fontIcon]="execStyle === 'sequential' ? 'hourglass_empty' : 'bolt'" aria-hidden="false"></mat-icon>
    </h3>
    <div class="inline">
      <input type="text" [(ngModel)]="featuredCities" placeholder="Enter cities (comma separated)" (keyup.enter)="search()"/>
      <button matButton="elevated" (click)="search()">Search</button>
    </div>
  </div>
</section>

<section class="featured">
  @if (data$ | async; as data) {
    <div class="card-grid">
      @for (city of data; track $index) {
        <app-card [city]="city"></app-card>
      }
    </div>
  } @else {
    <mat-spinner></mat-spinner>
  }
</section>
