.card-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 200px;
  max-width: 220px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.2s;
  height: 500px;
}
.card:hover {
  transform: translateY(-5px);
}

.card img {
  margin: 10px 0;
}

.card h3, .card p {
  color: #fff !important;
}


.temp {
  font-size: 22px;
  font-weight: bold;
  color: #4a90e2;
}

.featured h2 {
  padding: 5px;
}

.lab .hero {
  background: #eef6ff;
  color: #333;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

.lab .hero input {
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.lab .hero button {
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 20px;
  background: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
}

.lab .hero button:hover {
  background: #357abd;
}

.news {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  color: #111;
}

.news h2 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  color: #111;
}

.news ul {
  list-style: none;
  padding-left: 0;
}

.news li {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #111;
}

.news-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.news-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  padding: 15px;
  width: 250px;
  flex: 1 1 200px;
}

.news-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.news-card a {
  display: inline-block;
  margin-top: 10px;
  color: #4a90e2;
  text-decoration: none;
}

.news-card a:hover {
  text-decoration: underline;
}