:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 0 20px;
}

.featured {
  overflow-x: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;

  h2 {
    padding: 5px;
  }
}

.card-grid {
  width: 100%;
  display: flex;
  justify-content: safe center;
  gap: 20px;
}

.temp {
  font-size: 22px;
  font-weight: bold;
  color: #4a90e2;
}

section.lab {
  width: 40rem;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.lab .hero {
  background: #eef6ff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

  h3 {
    margin-top: 0;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }

  button {
    margin-left: 10px;
    background: #4a90e2;
    color: white;
    cursor: pointer;
  }
}

.lab .hero button:hover {
  background: #357abd;
}
