<div>
  <header class="header">
    <h1>
      Weather Dashboard
    </h1>
  </header>
</div>

<div class="forecast">
  <section class="lab">
    <div class="hero">
      <h3 [ngStyle]="{color: execStyle === 'sequential' ? 'green' : 'blue'}">
        Mode: {{ execStyle.toUpperCase() }}
        <mat-icon [fontIcon]="execStyle === 'sequential' ? 'hourglass_empty' : 'bolt'" aria-hidden="false"></mat-icon>
      </h3>
      <div class="inline">
        <input type="text" [(ngModel)]="featuredCities" placeholder="Enter cities (comma separated)" (keyup.enter)="search()"/>
        <button matButton="elevated" (click)="search()">Search</button>
      </div>
    </div>
  </section>

  <section class="buttons">
    <div class="execStyle">
      @for (item of execStyles; track $index) {
        <button
          matButton="elevated"
          [class.selected]="execStyle === item.toLowerCase()"
          (click)="toggleExecStyle(item.toLowerCase())"
        >
          {{ item }}
        </button>
      }
    </div>

    <button matButton="elevated" (click)="collapse()">
      {{ areAllCollapsed ? 'Fold all' : 'Collapse all' }}
    </button>
  </section>
  
  <section class="featured">
    @if (data$ | async; as data) {
      <div class="card-grid">
        @for (city of data; track $index) {
          <app-card
            [city]="city"
            [collapseAll]="areAllCollapsed"
            (toggle)="onToggle($event)"
          ></app-card>
        }
      </div>
    } @else {
      <mat-spinner></mat-spinner>
    }
  </section>
</div>
