.container {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  height: 100vh;
}

.header {
  color: #f1f1f1;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.toggle {
  padding: 5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.toggle:hover {
  background-color: white;
}

@keyframes shine {
  from { background-position: 0% }
  to { background-position: 200% }
}
