/* You can add global styles to this file, and also import other style files */
/* styles.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app-root {
  display: block;
  min-height: 100vh;
  background: url('https://images.unsplash.com/photo-1502082553048-f009c37129b9?ixlib=rb-4.0.3&auto=format&fit=crop&w=1920&q=80')
  no-repeat center center fixed;
  background-size: cover;
  position: relative;
  color: #fff;
}

/* Overlay */
app-root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

app-root * {
  position: relative;
  z-index: 1;
}
